ws/config.php
phpinfo.php
ws/.settings/
ws/.project
ws/.buildpath
android/json/.settings/**
android/json/.project
android/json/.buildpath
android/.metadata/**
ws/.metadata/**


#Eclipse
*.pydevproject
.project
*.metadata/**
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath


#android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
