body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
#content
{
    margin: 0 auto;
    width: 800px;
}
#header
{
    background: #0063A6;
    margin: 0 auto;
    width: 800px;
}
#footer
{
    border-top: 4px solid #0063A6;
    margin-top: 20px;
    padding: 10px 0;
}
h1
{
    color: #0063A6;
    font-size: 28px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 20px;
}
h3 {
	font-weight: 400;
	color:#232323;
	font-size:18px;
	display: inline;
}
a
{
    color: #0063A6;
    text-decoration: none;
}
a:hover
{
    background: #0063A6;
    color: #fff;
    text-decoration: none;
}
.logo img
{
    padding: 16px 26px 26px 26px;
}
.box
{
    background: #F0F2F2;
    border-bottom: 2px solid #fff;
    color: #565151;
    padding: 20px 14px;
}
.box_min
{
    background: #F0F2F2;
    border-bottom: 2px solid #fff;
    color: #565151;
    padding: 5px 14px;
}
.box2
{
    background: #F9F9F9;
    color: #565151;
    padding: 20px 14px;
}
ul
{
    list-style: none outside;
    margin: 0px;
    padding: 0px;
}
li
{
    border-bottom: 1px solid #fff;
    color: #565151;
    padding: 20px 14px;
}
li:nth-child(even),tr:nth-child(even)
{
    background: #F9F9F9;
}
li:nth-child(odd),tr:nth-child(odd)
{
    background: #F0F2F2;
}
table
{
    width: 100%;
}
table tr:first-child td
{
    background: #0063A6;
    color: white;
    font-weight: bold;
}
td
{
    padding: 7px;
}
#content::selection, .box::selection, .box2::selection, h1::selection, #footer::selection
{
    background: #0063A6;
    color: #fff;
}
#content::-moz-selection, .box::-moz-selection, .box2::-moz-selection, h1::-moz-selection, #footer::-moz-selection
{
    background: #0063A6;
    color: #fff;
}
pre.prettyprint, code.prettyprint
{
    border: 0pt;
    border-bottom: 2px solid #fff;
    font-size: 13px;
    line-height: 20px;
    margin: 0px;
    padding: 14px 14px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
.method {
	margin-top: -6px;
}
div.method:nth-child(even),code.method:nth-child(even)
{
    background: #F0F2F2;
}
div.method:nth-child(odd),code.method:nth-child(odd)
{
    background: #F9F9F9;
}
.toggle
{
    display: none;
}
.example
{
	color:#666;
    display: inline;
}

.desc {
	color:#666;
	font-style: italic;
	margin: 0 0 -5px 0;
	padding:10px 14px 0 14px;
}

.method_name
{
	display: inline-block;
	padding:5px 14px 0 14px;
    margin-bottom:0px;
    margin-top: 10px;
    background: #F0F2F2;	
}
